---
import { Image } from "astro:assets";
interface Props {
  title?: string;
  subTitle?: string;
  src?: any;
  alt?: any;
  class?: any;
}
  // Define props from Astro
const {  class: className, src, alt } = Astro.props;

---

<div class="relative mb-6 overflow-hidden md:mb-8">
    {
      src && alt && (
        <Image
          src={src}
          alt={alt}
          class={`h-auto w-24 ${className}`}
          draggable={"false"}
          format={"avif"}
          loading={"eager"}
        />
      )
    }
  </div>